.App {
  font-family: consolas;
  padding: 30px;
  margin: auto;
}

.gems {
  display: grid;
  gap: 2px;
}

.gem {
  text-align: center;
  box-sizing: border-box;
  border-radius: 10px;
  color: transparent;
}

.gem:not(.gem-empty) {
  cursor: pointer;
  user-select: none;
}

.gem-red {
  background-color: crimson;
}

.gem-blue {
  background-color: cornflowerblue;
}

.gem.selected {
  border: 2px solid black;
}
